.transition {
  transform: translateX(-415px);
}

.absorb-effect {
  transition: opacity 0.6s cubic-bezier(0.23, 1, 0.32, 1) 0s;
}

.slide-effect {
  transition: transform 0.6s cubic-bezier(0.23, 1, 0.32, 1) 0s,
    opacity 0.6s cubic-bezier(0.23, 1, 0.32, 1) 0s;
}